.image_style {
    margin-right: 10px;
    border-radius: 10px; 
       }
.footer_content {
   background-color:#014874; 
   color:white;
   padding: 20px;
   text-align: center; 
   width: 100%;
}
p{
   justify-content:center;
   padding:10px;
   font-size: 20px;

}
h4{
   padding:10px;
   font-size: 20px;
   text-transform: uppercase;
}
.location{
   display: flex; 
   justify-content:center;
   flex-direction: column; 
   align-items: center;

}
a i{
   color:white;
   font-size: 30px;
   padding: 10px;
}

.location-icon{
   display: flex; 
   justify-content:center;
   flex-direction: row; 
   align-items: center;
   padding:5px;
}
